.hover {
    box-sizing: border-box;
    padding: 5px;
}

.hover:hover {
    cursor: pointer;
    background-color: #00000010;
}

.container {
    width: 60vw;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav > div {
    border: 1px solid var(--stroke-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr .75fr;
    gap: 5px;
}

.content > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}