.container {
    --BColor: inherit;
    --Color: inherit;

    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    background-color: var(--BColor);
    color: var(--Color);
}
.container:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--BColor) 90%, #ffffff 10%);
}