.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}


.priceInput>input {
    width: 100%;
    appearance: none;
    border: 0;
    outline: none;
    text-align: center;

}


.priceInput>input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0px;
}

.priceInput>input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0px;
}


.priceInput {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--primary-color);
    border-radius: 3px;
    padding: 0px 10px;
    box-sizing: border-box;
    height: 35px;
    width: 100px;

    font-size: 1.2rem;
}

.priceInput:hover {
    cursor: text;
}

.spacer {
    /* min-width: 30px; */
    flex-grow: 1;
    height: 1px;
    background-color: var(--primary-color);
}