.container {
    /*width: 900px;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.container > div {
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 300px;
}