:root {
    --background-color: #F0F4F8;
    --primary-color: #414141;
    --secondary-color: #EFEFEF;

    --red-color: #971A1A;
    --green-color: #529060;
    --black-color: #000000;
}

body {
    margin: 0px;
}