.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    min-height: 500px;
}


.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.name {
    font-weight: 400;
    font-size: 1.5rem;
}

.det {
    font-size: 0.9rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 15px;
    width: max-content;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom > div:first-child {
    font-weight: 700;
    font-size: 2rem;
}

.bottom > div:last-child {
    display: flex;
    flex-direction: column;
}

@media (width <= 800px ) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr max-content;
        gap: 40px;
        min-height: 800px;
    }

    .details {
        gap: 50px;
    }

    .bottom > div:first-child {
        font-size: 1.5rem;
    }
}