.mainContainer {
    padding: 20px 50px;
    box-sizing: border-box;
}

.list {
    font-size: 0.9rem;
}

@media (width < 650px) {
    .mainContainer {
        padding: 20px 10px;
    }
    .list {
        font-size: 0.7rem;
    }
}